<% content_for :head do %>
<%= stylesheet_link_tag "jquery.Jcrop.min" %>
<%= javascript_include_tag "jquery.Jcrop.min" %>
<script type="text/javascript" charset="utf-8">
$(function() {
  $('#cropbox').Jcrop({
    onChange: update_crop,
    onSelect: update_crop,
    setSelect: [0, 0, 100, 100],
    aspectRatio: 1
  });

  function update_crop(obj) {
    $("#crop_x").val(obj.x);
    $("#crop_y").val(obj.y);
    $("#crop_w").val(obj.w);
    $("#crop_h").val(obj.h);
    if (parseInt(obj.w) > 0) {
      var rx = $("#preview-box").width() / obj.w;
      var ry = $("#preview-box").height() / obj.h;
      //通过比例值控制图片的样式与显示
      $("#preview").css( {
        width: Math.round(rx * $("#cropbox").width()) + "px",
        height: Math.round(rx * $("#cropbox").height()) + "px",
        marginLeft: "-" + Math.round(rx * obj.x) + "px",
        marginTop: "-" + Math.round(ry * obj.y) + "px"
      });
    }
  }
});
</script>
<% end %>

<%= image_tag @user.avatar.url(:large), id: "cropbox" %>

<h3>Preview</h3>
<div class="preview" style="width:100px;height:100px;overflow:hidden;" id='preview-box'>
  <%= image_tag @user.avatar.url(:large), id: "preview" %>
</div>

<%= simple_form_for @user, url: crop_update_users_path do |f| %>
    <% for attribute in [:crop_x, :crop_y, :crop_h, :crop_w] %>
        <%= f.hidden_field attribute, :id => attribute %>
    <% end %>
    <p><%= f.button :submit, 'Crop' %></p>
<% end %>