<%= simple_form_for project,
  url: project.new_record? ? projects_path : project_path(project),
  html: { class: "form-horizontal" } do |f| %>

  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :archived %>

  <div class="control-group">
    <div class="controls">
      <%= f.button :submit %>
    </div>
  </div>

<% end %>
